* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.shop {
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.shop-a {
  text-decoration: none;
  color: black;
}
.cart-logo {
  width: 7vw;
  max-width: 30px;
}

.sections {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  display: none;
}

.nav-anc {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.image-container {
  height: 26vh;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  align-items: center;
  gap: 1.5rem;
}

.sect {
  font-size: 1.1rem;
}

.descript-btn {
  padding: 0.8rem 2.5rem;
  border: 2px solid black;
  background-color: white;
}

.last-sect {
  display: flex;
}

.last-sect-half {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  font-size: 0.9rem;
}

.last-sec-btn {
  padding: 0.8rem 1.4rem;
  font-size: 0.9rem;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.foot-span {
  font-size: 0.8rem;
}

.demo-btn {
  padding: 0.9rem 1.3rem;
  background-color: black;
  color: white;
  font-size: 0.9rem;
}

/* 
/////ham-burger///// */

.ham-logo {
  transform: scale(1.4);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 0.7rem;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main {
  transition: margin-left 0.5s;
  padding: 20px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-width: 760px) {
  .hamBurger-menu {
    visibility: hidden;
  }

  .sections {
    display: flex;
  }

  .image-container {
    height: 34vh;
  }

  /* .image-container {
    max-width: 80vw;
    margin: 0 auto;
  }

  .last-sect {
    max-width: 80vw;
    margin: 0 auto;
  } */
}

@media screen and (min-width: 1400px) {
  .image-container {
    max-width: 75vw;
    margin: 0 auto;
  }

  .last-sect {
    max-width: 75vw;
    margin: 0 auto;
  }
}

/* /////////////////////  Listing-page ///////////////////// */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}

.sect-heading {
  font-size: 0.9rem;
  color: #292828;
}

.item-count {
  font-size: 0.8rem;
  color: #818181;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.prod-img-cont {
  width: 90%;
}

.prod-img-cont img {
  width: 100%;
}

.product-title {
  font-size: 0.8rem;
  font-weight: 900;
  color: black;
}

.product-price {
  font-size: 0.8rem;
  color: #818181;
}

.listing-pg-image-container {
  display: none;
  height: 30vh;
}

.listing-pg-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 760px) {
  .listing-pg-image-container {
    display: block;
  }

  .products {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 9rem;
  }

  .main {
    margin-top: 1rem;
  }
}

.products a {
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  .listing-pg-image-container {
    max-width: 75vw;
    margin: 0 auto;
  }
}

/* //////////// product-page///////////////// */

.prod-back-a {
  text-decoration: none;
  color: black;
  transform: scale(2.7);
}

.prod-pg-cont {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.prod-size-quant {
  width: 100%;
}

.select {
  border: none;
  background-color: white;
  width: 100%;
  padding: 1rem 3.5rem;
  font-size: 1.2rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.select-cont {
  position: relative;
  width: 100%;
}

.select-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: #818181;
}

.select-quant {
  width: 100%;
  padding: 1rem 3.5rem;
  font-size: 1.2rem;
  border-bottom: 1px solid gray;
  border-top: none;
}

select:focus {
  outline: none;
}

.prod-pg-descript-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.prod-pg-prod-name {
  font-weight: 500;
  font-size: 1.2rem;
}

.prod-pg-prod-price {
  color: #818181;
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 0.5rem;
}

.prod-description {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.prod-description p {
  color: #818181;
  line-height: 1.5;
}
.prod-description ul {
  color: #818181;
  margin-left: 1.5rem;
  line-height: 1.5;
}

.add-cart-btn {
  visibility: hidden;
  /* color: white;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: rgb(25, 25, 59); */
}

footer {
  position: relative;
}

.prod-pg-add-btn {
  position: fixed;
  width: 100%;
  font-size: 1rem;
  z-index: 3;
  bottom: 0;
  padding: 1.3rem 0;
  background-color: #172c4f;
  color: white;
  box-shadow: none;
  border: none;
}
